/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;  
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Signika', sans-serif;
}

.background {
  animation: changeBackgroundColor 10s infinite;
}

mat-card,
mat-accordion,
mat-expansion-panel {
  opacity: 0.9;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: rgb(232 121 249);
  }
  50% {
    background-color: rgb(167 139 250);

  }
  100% {
    background-color: rgb(232 121 249);
  }
}



@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");

@import '@angular/material/theming';


$custom-typography: mat-typography-config(
$font-family: 'Raleway, sans-serif',
$headline: mat-typography-level(32px, 48px, 700),
$body-1: mat-typography-level(16px, 24px, 500)
);


// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-button-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);