p:first-child {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  width: 8rem !important;
}

.mat-badge-content {
  transition: none;
  background-color: rgb(232 121 249);
}